*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.fullscreen{
    display: flex;
    justify-content: center;
    align-items: center;     
}

.body-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000;
    backdrop-filter: blur(15px); // Adiciona o efeito de desfoque
    z-index: 999; // Coloca atrás do modal
  }

button {
    font-family: inherit; /* Herda a fonte do elemento pai (neste caso, o body) */
}