
.modalDelete {
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 23px 25px 1px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 23px 25px 1px rgba(0,0,0,0.56);
    box-shadow: 0px 23px 25px 1px rgba(0,0,0,0.30);   
    border-radius: 16px;
    padding: 1rem 2rem 2rem 2rem;
  }
  
  .modalDelete h2 {
    margin: 1rem 0 0.5rem 0.5rem;
    font-size: 24px;
    font-weight: 500;
  }
  
  .modalDelete p {
    margin: 1.5rem 0 1rem 0.5rem;
    font-size: 16px;
    font-weight: 400;
    color: #0000008A;
  }
  
  .containerBtn {
    display: flex;
    margin: 1.5rem 0 0 0.5rem;
    gap: 0.8rem;
  }
  
  .containerBtn button {
    width: 185px;
    padding: 16px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer; 
  }
  
  .containerBtn button:first-child {
    background: #E7EEFB;
  }
  
  .containerBtn button:nth-child(2) {
    background: linear-gradient(90deg, #D30707, #F05353); 
    color: #fff;
  }
  

  @media (min-width: 320px) and (max-width: 767px) {

    .modalDelete{
        height: 100vh;
        max-height: 100%;
        max-width: 100%;
        width: 100vw;     
        box-shadow: none;
        border-radius: 0;
        
    }

    .modalDelete h2 {
      margin-top: 2rem;
    }

    .containerBtn{
      flex-direction: column-reverse;
    }

    .containerBtn button {
      width: 100%;
    }
   
  }