.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: none;
    width: 455px;
    padding: 1rem 9.5rem;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 1rem;
    background: linear-gradient(90deg, #0796D3, #53C0F0);
}

@media (min-width: 320px) and (max-width: 767px) {

    .button {
        max-width: 87%;
        height: 50px;
        padding: 0;
        margin-top: 1rem;
    }
   
  }