*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.fullscreen{
    display: flex;
    justify-content: center;
    align-items: center;     
}

.body-blur {
  }

button {
    font-family: inherit; /* Herda a fonte do elemento pai (neste caso, o body) */
}