.button{
    text-align: center;
    border-radius: 6px;
    border: none;
    padding: 0.8rem 9rem;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
    background: linear-gradient(90deg, #0796D3, #53C0F0);
}