.fullscreen{
    display: flex;
    justify-content: center;

    .containermodal{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 16px;
        padding: 2rem 1rem;
        border: 1px solid #EAECF0;
        margin: 1rem;
    }

    h6{
        margin: 1.5rem 0;
        font-size: 16px;
        font-weight: 100;
        color: #0000008A;
    }

    .containertasks{
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
    }

    .containertodo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3.5rem;
        width: 25rem;
        padding: 0 1.25rem;
        margin: 1rem 0;
        border-radius: 8px;
        border: 2px dashed #D7DDE9;
        gap: 1rem;
        cursor: pointer;


        .containercheck{
            display: flex;
            gap: 0.8rem;
        }

        input{
            transform: scale(1.8);
            border-color: #D7DDE9;
            cursor: pointer;
        }

       

        span{
            font-weight: 400;
        }
    }

    .containerdone{
        margin-bottom: 2rem;

        .titleTasks{
            text-align: center;
        }

        .taskname{
            color: gray;
            text-decoration: line-through;
        }
    }


}



.modal {
    position: fixed; /* Posiciona o modal em relação à janela */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8) ;/* Centraliza o modal */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;    width: 300px; /* Largura do modal */
    padding: 40px;
    border-radius: 12px;
    z-index: 999; /* Garante que o modal fique acima de outros elementos */
  }
  
  .modalContent {
    background-color: white;
    padding: 20px;
    text-align: center; /* Centraliza o conteúdo dentro do modal */
  }