
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 2.5rem;
    padding: 0 0 24px 0;
    border-bottom: 1px solid #D7DDE9;

    .containerLogo{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem
    }

    .textLogo{
        font-size: 22px;
        font-weight: 900;
    }


    .title{
        margin-left: 8rem;
        text-align: center;
        font-size: 22px;
        font-weight: 500;
    }

    .paragraph{
        opacity: 0.69;
        font-weight: 400;
    }
}